# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.db

# OS-specific ignores
.DS_Store
Thumbs.db

# IDE-specific ignores (if using an IDE like PyCharm, VSCode, etc.)
.idea/
.vscode/
*.log

# Images directory (optional, if it contains temporary images)
static/images/

# Other backups or temporary files
*.bak
*.tmp
*.zip
